{% extends 'base.html.twig' %}

{% block title %}Edit Artikle{% endblock %}

{% block body %}
    <h1>Edit Artikle</h1>

    {{ include('artikle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('artikle_index') }}">back to list</a>

    {{ include('artikle/_delete_form.html.twig') }}
{% endblock %}
